XML/definicoes.dtd

<!ELEMENT cardapio (item+)>

<!ELEMENT item (nome, descricao, ingredientes, preco, calorias, tempo_preparo)>
<!ATTLIST item id ID #REQUIRED>

<!ELEMENT nome (#PCDATA)>
<!ELEMENT descricao (#PCDATA)>
<!ELEMENT ingredientes (#PCDATA)>

<!ELEMENT preco (#PCDATA)>
<!ATTLIST preco moeda (BRL | USD) "BRL">
<!ELEMENT calorias (#PCDATA)>
<!ELEMENT tempo_preparo (#PCDATA)>

<!ENTITY reais "R$">
